/swiftacare_architecture.pdf
/swiftacare_architecture.png
/swiftacare_architecture.svg
/swiftacare_architecture_with_payment_integration.pdf
/swiftacare_diagram.py
/swiftacare_mvp_architecture_(fixed_firebase)
/swiftacare_mvp_architecture_(fixed_firebase).pdf
/swiftacare_mvp_architecture_(modular_monolith).pdf
/swiftacare_mvp_architecture_(modular_monolith)_-_with_firebase.pdf
/swiftacare_mvp_architecture_(modular_monolith_with_containers).pdf
/venv